//@use 'colors' as *;
@use '../abstracts' as *;

$bodyfontsize: 1rem;// 16px

$familyOne: 'Overpass', sans-serif;
$familyTwo: 'Ubuntu', sans-serif;

$fontWeight: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semiBold": 600,
    "bold": 700
);

$fontFamily: ("fontFamilyOne": $familyOne, "fontFamilyTwo": $familyTwo);

a {
    text-decoration: none;
    color: var(--textColor);
    font-weight: map-get($fontWeight, "bold");
    font-family: map-get($fontFamily, "fontFamilyTwo");
}

ul {
    list-style: none;
}
.cta {
   //@at-root font-family: $familyTwo;
    font-family: map-get($fontFamily, "fontFamilyTwo");
    font-weight: map-get($fontWeight, "bold");
    background-color: var(--bgwhiteColor);
    color: var(--lightRed);
    padding: 0.875em 1em;
    border-radius: 25px;
    @include transitioneaseinout;

    &:hover {
        color: var(--textColor);
        background-color: var(--verylightRed);
    }
}
.text {
    color: var(--verydarkGrayishBlue);
    line-height: 1.8;
    font-weight: map-get($fontWeight, "medium");
    font-family: map-get($fontFamily, "fontFamilyOne");
    letter-spacing: 1.1px;
    font-size: 0.875rem;
}


//sample typography
/*
h1, h2, h3 {
    font-weight: 400;
    line-height: 1.2;
}

p {
    padding-inline: 2em;
}

a, a:visited, a:active {
    text-decoration: none;
}
*/

